---
import Card from "../../components/Card.astro";
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { formatDate } from "../../utils";


const posts = (await getCollection('events'))
  .sort((a, b) => a.data.start < b.data.start ? -1 : 1);


function createBody(e: {start: Date, end: Date}): string {
  return `${formatDate(e.start)} - ${formatDate(e.end)}`;
}
---
<Layout title="Posty">
  <main>
    <article class="article">
      <header>
        <h1>Wydarzenia</h1>
      </header>

      <section>
        {posts.map(post => 
          <Card 
            title={post.data.title}
            body={createBody(post.data)}
            href={`/events/${post.slug}/`}
          />
        )}
      </section>
    </article>
  </main>
</Layout>

<style>
  .article {
    max-width: 48em;
    margin-inline: auto;
  }
</style>